<?xml version="1.0"?>
<!--
  Copyright © 2025 Hibrido. All rights reserved.
  See COPYING.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <color_changer>
            <general>
                <enable_module>0</enable_module>
                <color_hex>#000000</color_hex>
                <tags>button,.btn,.action.primary</tags>
            </general>
        </color_changer>
    </default>
</config>
